doctype html
html(lang = 'en')
 head
   title Home
   link(rel='stylesheet', href='/style.css')

 body
   h1 Welcome to the categories page
    each category in found_categories
        li
            a(href = category.url) #{category.name}
   a(href=create) Create Category