-var addItem = 'True';
html(lang = 'en')
 head
   title Home
 body
 form(method='POST' action = 'create')
    label(for='category') Category:
    input(type = 'text' placeholder='Category' name='category' required='true')
    label(for='description') Description:
    input(type = 'text' placeholder='Category' name='description' required='true')
    label(for='items') Add Items
    textarea#items(name='items')


    button(type='submit') Submit








